.App {
  text-align: center;
}

*{
  color: black;
}

html{
  
}

canvas{
  background-color: rgba(245, 245, 245, 0.711);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#root{
  background-image: url("./images/SL_042620_30310_19.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  padding: 0;
  background-color: #c1c1c1
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none;
  width: 50%;
  height: 100%;
}

nav ul li{
  padding: 0 20px;
  line-height: 1.5rem;

}

nav ul li a{
  text-decoration: none;
  font-size: 1.2rem;
}



#footer{
 position: static;
 bottom: 0;
 width: 100vw;
 height: 100%;
 margin: auto;
 justify-content: center;
}

#footer a {
  margin: .5rem 1rem;
}

#footer, nav .container{
background-color: #d4d6dc93;
}


#base, #quote{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 50vw;
  min-width: 57vw;
  
}


button{
  background-color: transparent;
}
#toCurrency, #fromCurrency{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5em;

}

.input-group{
  display: flex;
}

#form{
  display: flex;
  align-items: center;
  flex-direction: column;
}


